{% assign projects = site.data.projects %}
{% if page.lang == "en" %}
  {% assign projects = site.data.projects_en %}
{% endif %}

{% for project in projects %}
  <div class="project-entry">
    <h3>{{ project.name }}</h3>
    {% if project.link %}
      <p><a href="{{ project.link }}" target="_blank">🌐 Visit</a></p>
    {% endif %}
    {% if project.github %}
      <p><a href="{{ project.github }}" target="_blank">💻 GitHub</a></p>
    {% endif %}
    <p>{{ project.description }}</p>
  </div>
{% endfor %}
